@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double+Ink:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coral+Pixels:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=The+Girl+Next+Door:wght@400;500;600;700&display=swap');

html {
    height: 100%;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

body {
    height: 100%;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    background-color: #111111;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
}


canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    min-height: 100vh !important;
    min-width: 100vw !important;
    width: 100vw !important;
    height: 100vh !important;
    z-index: 2;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9999;
}

.header-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}

.header-content p {
    margin: 0;
    padding: 0;
}

.header-content-left {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #808080;
    font-size: 4em;
    font-weight: 500;
    font-family: 'Bitcount Prop Double Ink', sans-serif;
}

.header-content-left::selection {
    background-color: wheat;
}

.header-content-right {
    display: flex;
    justify-content: center;
    align-items: center;

    color: whitesmoke;
    font-size: 2em;
    font-weight: 500;
    font-family: 'The Girl Next Door', sans-serif;
    text-transform: lowercase;
}

.header-content-right::selection {
    background-color: rgba(162, 85, 162, 1);
}

.footer-ghost {
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
    height: 180px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(17, 33, 51, 1) 50%, rgba(162, 85, 162, 0.5) 100%);
    filter: blur(25px);
    z-index: 5;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9999;
}

.footer-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 48px;
    padding: 0 24px;
}

.footer-content-right {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #808080;
    font-size: 12px;
    font-weight: 500;
}

.footer-content-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: auto;

    * {
        width: 32px;
        height: 32px;
        object-fit: contain;
        object-position: center;
        cursor: pointer;
    }
}

.footer-content-left-divider {
    width: 1px;
    height: 24px;
    background-color: #808080;
    filter: blur(1.5px) invert(50%) sepia(100%) saturate(2000%) hue-rotate(180deg);
}

.footer-content-left-icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
}