@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    font-family: 'Josefin Sans', sans-serif;
}

.gl-container {
    min-height: 100vh;
    min-width: 100vw;
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 2;
}

.footer-ghost {
    position: fixed;
    bottom: -42px;
    left: 0;
    width: 100%;
    height: 180px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(17, 33, 51, 1) 50%, rgba(14, 24, 43, 1) 100%);
    filter: blur(25px);
    z-index: 5;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9999;
}

.footer-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 48px;
    padding: 0 24px;
}

.footer-content-right {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #808080;
    font-size: 12px;
    font-weight: 500;
}

.footer-content-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: auto;

    * {
        width: 32px;
        height: 32px;
        object-fit: contain;
        object-position: center;
        cursor: pointer;
    }
}

.footer-content-left-divider {
    width: 1px;
    height: 24px;
    background-color: #808080;
    filter: blur(1.5px) invert(50%) sepia(100%) saturate(2000%) hue-rotate(180deg);
}

.footer-content-left-icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
}